<launch>

  <!-- ARGS -->

  <arg name="robot_name" />
  <arg name="cmd_vel_topic" />
  <arg name="odom_topic" />
  <arg name="move_forward_only" default="true" />

  <!-- ####################################################### -->

  <!-- move_base -->
  <node name="move_base" pkg="move_base" type="move_base" output="screen">
    <remap from="odom" to="$(arg odom_topic)" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)" />

    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />

    <rosparam file="$(find weeding_bot)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find weeding_bot)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>

    <rosparam file="$(find weeding_bot)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find weeding_bot)/config/local_costmap_params.yaml" command="load"/>

    <rosparam file="$(find weeding_bot)/config/planners_topo_nav.yaml" command="load"/>

    <!--remap hokuyo frame and topic-->
    <rosparam param="local_costmap/obstacle_layer/laser_scan_sensor/sensor_frame" subst_value="True">$(arg robot_name)/hokuyo</rosparam>
    <rosparam param="local_costmap/obstacle_layer/laser_scan_sensor/topic" subst_value="True">$(arg robot_name)/scan</rosparam>
    <rosparam param="global_costmap/global_obstacle_layer/laser_scan_sensor/sensor_frame" subst_value="True">$(arg robot_name)/hokuyo</rosparam>
    <rosparam param="global_costmap/global_obstacle_layer/laser_scan_sensor/topic" subst_value="True">$(arg robot_name)/scan</rosparam>

  </node>



  <!-- move_base 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />

    <rosparam file="$(find uol_cmp9767m_tutorial)/config/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find uol_cmp9767m_tutorial)/config/costmap_common_params.yaml" command="load" ns="local_costmap"/>

    <rosparam file="$(find uol_cmp9767m_tutorial)/config/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find uol_cmp9767m_tutorial)/config/local_costmap_params.yaml" command="load"/>-->
    
    <!-- <rosparam file="$(find uol_cmp9767m_tutorial)/config/planners.yaml" command="load"/> 

    <rosparam file="$(find weeding_bot)/config/move_base_params.yaml" command="load" />
    <rosparam file="$(find weeding_bot)/config/dwa_local_planner_params_thorvald.yaml" command="load" />-->

<!--
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
    <remap from="map" to="$(arg map_frame)" />
    <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
  </node>-->

</launch>

