<?xml version="1.0"?>

<launch>

  <!-- ARGS -->

  <arg name="robot_name" default="thorvald_001"/>

  <!-- ####################################################### -->

  <!-- sprayer service server -->
  <node pkg="weeding_bot" name="nozzle_move_to_spray_server" type="nozzle_move_to_spray_server.py" output="screen" /> 

  <!-- sprayer node -->
  <node pkg="weeding_bot" name="sprayer_node" type="sprayer_node.py" output="screen" args="$(arg robot_name)" >
  </node>

</launch>
