<?xml version="1.0"?>

<launch>


  <!-- ARGS -->

  <arg name="robot_name" default="thorvald_001"/>
  <arg name="tf_prefix" default="$(arg robot_name)/"/>
  <arg name="cmd_vel_topic" default="$(arg tf_prefix)nav_vel" />
  <arg name="odom_topic" default="$(arg tf_prefix)odometry/base_raw" />

  <arg name="scan" default="$(arg tf_prefix)scan"/>

  <arg name="obstacles" default="true"/>
  <arg name="second_robot" default="false"/>
  <arg name="fake_localisation" default="false"/>

  <arg name="base_frame" default="$(arg tf_prefix)base_link"/>
  <arg name="odom_frame" default="$(arg tf_prefix)odom"/>
  <arg name="map_frame" default="map"/>

  <!-- ####################################################### -->


  <include file="$(find uol_cmp9767m_base)/launch/thorvald-sim.launch">
    <arg name="obstacles" value="false" />
    <arg name="second_robot" value="false" />
    <arg name="fake_localisation" value="false" />
    <arg name="map_server" value="true" />
  </include>


  <!-- <include file="$(find uol_cmp9767m_tutorial)/launch/move_base.launch"/> -->

<!--
  <arg name="map_file" default="$(find weeding_bot)maps/cropped.yaml"/>

   map server 
  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)"/>-->

  <!-- Running AMCL -->
  <include file="$(find uol_cmp9767m_tutorial)/launch/amcl.launch" >
  </include>
  
  <!-- Running move_base node -->
  <include file="$(find uol_cmp9767m_tutorial)/launch/move_base_test.launch" >
  </include>



</launch>
